<div class="checklist-wrapper">
    <div class="list-header">
        <h1>Check Lists</h1>
        <div class="actions">
            <button (click)="createCheckList = true">Create</button>
        </div>
    </div>
    <div class="dash-table">
        <sa-data-table
            [scrollbarVisible]="true"
            [data]="users"
            [selectable]="false"
            [perPage]="10"
            [total]="total"
            (filter)="getUsers($event)"
            [initialLoad]="true"
            [actionsEnabled]="false"
            [perPageOptions]="[5, 10, 20]"
        >
            <sa-column header="User ID">
                <ng-template #colTemplate let-data>
                    <div class="col">
                        {{ data.id ? data.id : '--' }}
                    </div>
                </ng-template>
            </sa-column>
            <sa-column header="Email">
                <ng-template #colTemplate let-data>
                    <div class="col">
                        {{ data.email ? data.email : '--' }}
                    </div>
                </ng-template>
            </sa-column>
            <sa-column header="First Name">
                <ng-template #colTemplate let-data>
                    <div class="col">
                        {{ data.first_name ? data.first_name : '--' }}
                    </div>
                </ng-template>
            </sa-column>
            <sa-column header="Last Name">
                <ng-template #colTemplate let-data>
                    <div class="col">
                        {{ data.last_name ? data.last_name : '--' }}
                    </div>
                </ng-template>
            </sa-column>
            <ng-template #headerExtraRight>
                <div class="actions" style="display: flex">
                    <div class="search-box" style="margin-right: 11px">
                        <input type="text" placeholder="Search" />
                        <i class="material-icons">search</i>
                    </div>
                    <div class="button-action">
                        <button (click)="createCheckList = true">Create</button>
                    </div>
                </div>
            </ng-template>
        </sa-data-table>
    </div>
</div>
<div *ngIf="createCheckList" class="popup-background">
    <div class="popup">
        <div class="head">
            <h2>Create Checklist</h2>
            <i style="cursor: pointer" (click)="createCheckList = false" class="material-icons">close</i>
        </div>
        <div class="form-items">
            <div class="form-item" style="display: flex">
                <label> Email</label>
                <input type="email" />
            </div>
            <div class="form-item" style="display: flex">
                <label>First Name</label>
                <input />
            </div>
            <div class="form-item" style="display: flex">
                <label>Last Name</label>
                <input />
            </div>

            <div class="foot">
                <button class="pop-btn" (click)="createCheckList = false">Create</button>
            </div>
        </div>
    </div>
</div>
