<div class="mobile-sidebar">
    <div class="ham">
        <i (click)="visible = !visible" class="material-icons">menu</i>
    </div>
    <div class="mobile-logo">
        <h1>example<span>company</span></h1>
    </div>
</div>

<div class="mobile-collapser" [class.shown]="visible">
    <div class="ham">
        <i (click)="visible = !visible" class="material-icons">close</i>
    </div>
</div>

<div class="sidebar" [class.shown]="visible">
    <div class="logo">
        <h1>example<span>company</span></h1>
    </div>
    <div class="menu">
        <div class="menu-items">
            <div #auditMenu class="menu-item selected">
                <a class="item" (click)="expandMenuItem(auditMenu)">
                    <div class="menu-value">
                        <i class="material-icons menu-icon">assignment</i>
                        Audit Management
                    </div>
                    <i class="material-icons down">keyboard_arrow_down</i>
                    <i class="material-icons up">keyboard_arrow_up</i>
                </a>
                <div class="sub-menu">
                    <a class="item selected"><div class="menu-value">Check Lists</div></a>
                    <a class="item"><div class="menu-value">Reports</div></a>
                </div>
            </div>
            <div #vendorMenu class="menu-item">
                <a class="item" (click)="expandMenuItem(vendorMenu)">
                    <div class="menu-value">
                        <i class="material-icons menu-icon">account_box</i>
                        Vendor Management
                    </div>
                    <i class="material-icons down">keyboard_arrow_down</i>
                    <i class="material-icons up">keyboard_arrow_up</i>
                </a>
                <div class="sub-menu">
                    <a class="item"><div class="menu-value">Manage Vendor</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
