<div class="sidebar">
  <div class="logo"></div>
  <div class="menu">
    <div class="menu-items">
      <div class="collapsable">
        <a class="item">
          <i class="material-icons">analytics</i>
          Audit Management System</a
        >
        <i style="margin-top: 11px;" class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="collapsable">
        <a class="item">
          <i class="material-icons">analytics</i>
          Vendor Management</a
        >
        <i style="margin-top: 11px;" class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
  </div>
</div>
